<section style="padding-top: 0px;">
   <div id="banner_image">
     <div class="container blur banner_center" style="margin-top: 150px;
">
         <center>
            <div class="center text_spacing">
               <h4>같은 학교 친구들과 목적지를 공유하고 택시를 함께 타보세요.</h4>
               <img src="../../assets/taxiple-logo-text.png" class="sec-logo">
               <!--<h3>우리들만의 정류장.<img src="../../assets/taxiple-text.png" class="sec-logo"></h3>-->
            </div>
            <a href="/taxiple/page4"><button type="button" class="btn btn-warning btn-lg" style="margin-bottom: 10px;">서비스 이용하기</button></a>
         </center>
      </div>
   </div>
</section>
<!--배너 나누기 위한 div-->
<div style="margin:180px; padding: 150px;">
</div>
<!--section2-->
<section style="padding: 50px 0px; background-color: white;">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 center">
            <img src="../../assets/전국대학교.png" class="section_img" style="margin-top:20px;" >
         </div>
         <div class="col-md-6 center">
            <div class="section_img sec-text-box center" style="margin-top :20px;">
               <h2 class="text_spacing">전국 36개 대학교에서 이용 가능합니다.</h2>
               <h3 class="text_spacing">
               더 싸게, 더 편하게, 더 빠르게 이용하는 택시 서비스
               <br><img src="../../assets/taxiple-text.png" class="sec-logo">
               </h3>
            </div>
         </div>
      </div>
   </div>
</section>
<center>
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 100%; margin:20px;">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="1"></li>
       <li data-target="#carousel-example-generic" data-slide-to="2"></li>
     </ol>
   
     <!-- Wrapper for slides -->
     <div class="carousel-inner" role="listbox">
       <div class="item active">
          <center>
            <img src="../../assets/버스대기줄_1.png" alt="버스 대기줄" class="foo_picture">
            <div class="carousel-caption">
               <div class="slides">
                 <h3>하필이면 지각일때</h3>
                 <h1>하염없이 대기줄을 기다리셨나요?</h1>
              </div>
            </div>
         </center>
       </div>
       <div class="item">
         <center>
            <img src="../../assets/버스만차.png" alt="버스 만차" class="foo_picture">
            <div class="carousel-caption">
               <div class="slides">
                 <h3>막상 버스를 타도 </h3>
                 <h1>짜증나고 불편한적 없었나요?</h1>
               </div>
            </div>
         </center>
       </div>
       <div class="item">
         <center>
            <img src="../../assets/슬라이드마무리.png" alt="버스 만차" class="foo_picture">
            <div class="carousel-caption">
               <div class="slides">
                 <h3>저렴하게, 더 편하게, 같은 곳까지 </h3>
                 <h1>같이가요!</h1>
               </div>
            </div>
         </center>
       </div>
     </div>
   
     <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
       <i class="fa fa-arrow-left fa-4x" style="margin-top: 250px;"></i>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
       <i class="fa fa-arrow-right fa-4x" style="margin-top: 250px;"></i>
       <span class="sr-only">Next</span>
     </a>
   </div>
</center>
<div class="footer"><span class="copyright">Copyright © TEXIPLE 2015</span></div>