<div class="center room_page" id="top">
<dlv class="container">
    <div class="row" style="margin: 50px auto;">
        <img src="../../assets/이용설명서_2.jpg" style="width: 60%; height: 60%;">
    </div>
    <center><a href="#top"><i class="fa fa-arrow-circle-o-up fa-5x" style="color: #FFA500;"></i></a></center>
</div>
</div>