<div class = "room_page">
  <section style="padding: 50px;">
  </section>
  <div class="container">
    <div class = "back">
      <div class = "room_title">
        <div class="row"style="height: 50px;">
            <span class = "room_title_location"><a href="/taxiple/page4_2"><div class = "room_num">2</div></a><div style="margin-left: 15%; margin-top: 10px;">서울대학교 -> 서울대입구역</div></span>
        </div>
      </div>
      </br>
      </br>
          <div class = "row" style="margin-left: 20px; margin-right: 20px;">
            <div class = "col-md-2 profile_outline" style="background: #1E90FF;">
              <center><img src = "../../assets/두희대장.jpg" class="profile_img" style="margin-top: 20px;"></center>
              <h2><center>이두희님</center></h2>
            </div>
            <div class = "col-md-2 profile_outline" style="background: #FF4500;">
              <center><img src = "../../assets/프로파일_2.jpg" class="profile_img" style="margin-top: 20px;"></center>
              <h2><center>대기중님</center></h2>
            </div>
            <div class = "col-md-2 profile_outline" style="background: #FF4500;">
              <center><img src = "../../assets/프로파일_2.jpg" class="profile_img" style="margin-top: 20px;"></center>
              <h2><center>대기중님</h2>
            </div>
             <div class = "col-md-2 profile_outline" style="background: #FF4500;">
             <center><img src = "../../assets/프로파일_2.jpg" class="profile_img" style="margin-top: 20px;"></center>
              <h2><center>대기중</h2>
            </div>
            <div class = "col-md-4 profile_outline" style="padding: 3px 15px;">
              <h2>탑승시간 <br> 15:30</h2>
              <h2>탑승장소<br>
              : 서울대 행정관</h2>
              <h2>현재인원 / 총인원<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 / 4</h2>
            </div>
          </div>
          <div class="row" style="margin-left: 20px; margin-right: 20px;">
            <div class="col-md-6 profile_outline" style="padding: 40px 14px; ">
              <h3>
                - 예상 택시요금 : 3,600원<br>
                - 총 인원 : 4명<br>
                - 총인원 대비 1인당 <br>요금 : 900원<br>
                - 현재 인원 : 3명<br>
                - 현재 인원 대비 1인당 요금 : 1,200원
              </h3>
            </div>
            <div class="col-md-6 profile_outline" style="padding-left: 0px; padding-right: 0px;">
              <img src = "../../assets/서울대지도.jpg" style="width: 100%; height: 100%;">
            </div>
          </div>
      </br>
      </br>
    </div>
  </div>
  <section style="padding: 50px;">
  </section>
</div>