<div class="container">
    <div class="row">
        <div class="col-xs-5">
        </div>
        <div class="col-xs-2">
        <img src="../../assets/PPT.jpg" class="section_img" style="width: 70%; height: 100%;" >
        </div>
        <div class="col-xs-5">
        </div>
    </div>
</div>