<div class = "room_page">
  <section style="padding: 50px;">
  </section>
  <div class="container">
    <div class = "back">
      <div class = "room_title">
        <div class="row">
          <div class="col-md-6" style="margin-top: 30px;">
            <div class = "room_num">1</div>
            <span class = "room_title_location">서울대학교 -> 서울대입구역</span>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <img src = "../../assets/taxiple-main.png" style="width: 120px; height: 120px;">
          </div>
        </div>
      </div>
      </br>
      </br>
          <div class = "row" style="margin-left: 20px; margin-right: 20px;">
            <div class = "col-md-2 profile_outline" style="background: #1E90FF;">
              <center><img src = "../../assets/오랑우탄.jpg" class="profile_img" style="margin-top: 20px;"></center>
              <h2><center>문승현님</center></h2>
            </div>
            <div class = "col-md-2 profile_outline" style="background: #1E90FF;">
              <center><img src = "../../assets/비글.jpg" class="profile_img" style="margin-top: 20px;"></center>
              <h2><center>전준수님</center></h2>
            </div>
            <div class = "col-md-2 profile_outline" style="background: #1E90FF;">
              <center><img src = "../../assets/냥이.jpg" class="profile_img" style="margin-top: 20px;"></center>
              <h2><center>김우정님</h2>
            </div>
             <div class = "col-md-2 profile_outline" style="background: #FF4500;">
             <center><img src = "../../assets/프로파일_2.jpg" class="profile_img" style="margin-top: 20px;"></center>
              <h2><center>대기중</h2>
            </div>
            <div class = "col-md-4 profile_outline" style="padding: 52px 15px;">
              <h2>탑승시간 : 15:30</h2>
              <h2>탑승장소 : 서울대 행정관</h2>
              <h2>현재인원 / 총인원 : 3 / 4</h2>
            </div>
          </div>
          <div class="row" style="margin-left: 20px; margin-right: 20px;">
            <div class="col-md-6 profile_outline" style="padding: 40px 14px; ">
              <h2>
                예상 택시요금 : 3,600원<br>
                총 인원 : 4명<br>
                총인원 대비 1인당 요금 : 900원<br>
                현재 인원 : 3명<br>
                현재 인원 대비 1인당 요금 : 1,200원
                
            </div>
            <div class="col-md-6 profile_outline" style="padding-left: 0px; padding-right: 0px;">
              <img src = "../../assets/서울대지도.jpg" style="width: 100%; height: 100%;">
            </div>
          </div>
      </br>
      </br>
    </div>
  </div>
  <section style="padding: 50px;">
  </section>
</div>