<!DOCTYPE html>
<html>
<head>
  <title>TAXIPLE</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Site's designed for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <!--Import jQuery before materialize.js-->
  <link rel="stylesheet" type="text/css" href="../../assets/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../assets/materialize.js"></script>
  <script type="text/javascript" src="../../assets/make_room.js"></script>
  <script type="text/javascript" src="../../assets/page_4.js"></script>
  <link rel="stylesheet" type="text/css" href="../../assets/page_4.css"><!-- 한나체 -->
  <link rel="stylesheet" type="text/css" href="../../assets/make_room.css">
    <!--구글아이콘-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body onload="updateClock(); setInterval('updateClock()', 1000 )">
<!-- 네비게이션 바 -->

<nav class="indigo yellow darken-2">
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <li><a class="modal-trigger" href="#sign-in"><!--아이콘--><%= current_user.email %></a></li>
      <li><a class="modal-trigger" href="/taxiple/my_room"><!--아이콘-->내가 들어간 방</a></li><!--로그인 중이면 "내 정보" 로그아웃 중이면 "로그인하기"-->
      <% if @mkroom.where(user_id: current_user.id).count(user_id: current_user.id) == 0 && @user.where(id: current_user.id).count(register_to_use: false) == 1%>
        <li><a class="modal-trigger" href="/taxiple/make_room"><!--아이콘-->방 만들기</a></li><!-- 로그인 중이면 보여주기-->
      <% end %>
      <li><a class="modal-trigger" href="#sign-in"><!--아이콘-->요금 계산기</a></li>
      <li><a class="modal-trigger" href="#sign-in"><!--아이콘-->신고하기</a></li>
      <li><a class="modal-trigger" href="#sign-in"><!--아이콘-->관련 법률</a></li>
      <li><a class="modal-trigger" href="/taxiple/page4"><!--아이콘-->대기방 보기</a></li>
    </ul>
  
  <ul id="slide-out" class="side-nav">
    <li class ="waves-effect waves-red" style="width: 100%">
      <a href="/taxiple/my_room">
        <img class="valign" src="../../assets/collaboration-48.png" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px;"/>
        <span style="font-size: 15px;">참여중인 방</span>
      </a>
    </li>
    <% if @mkroom.where(user_id: current_user.id).count(user_id: current_user.id) == 0 && @user.where(id: current_user.id).count(register_to_use: false) == 1%>
      <hr style="margin: 0px; padding: 0px;">
      <li class ="waves-effect waves-yellow" style="width: 100%">
        <a href="/taxiple/make_room">
          <img class="valign" src="../../assets/contacts-48.png" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px;"/>
          <span style="font-size: 15px;">방 만들기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </a>
      </li>
    <% end %>
    <hr style="margin: 0px; padding: 0px;">
    <li class ="waves-effect waves-orange" style="width: 100%">
      <a href="/taxiple/page4">
        <img src="../../assets/binoculars-48.png" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px;"/>
        <span style="font-size: 15px;">대기방 보기</span>
      </a>
    </li>
    <hr style="margin: 0px; padding: 0px;">
    <li class ="waves-effect waves-green" style="width: 100%">
      <a href="#">
        <img src="../../assets/advertising-48.png" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px;"/>
        <span style="font-size: 15px;">신고하기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </li>
    <hr style="margin: 0px; padding: 0px;">
    <li class ="waves-effect waves-purple" style="width: 100%">
      <a href="#">
        <img class="valign" src="../../assets/customer_support-48.png" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px;"/>
        <span style="font-size: 15px;">서비스 소개</span>
      </a>
    </li>
    <hr style="margin: 0px; padding: 0px;">
  </ul>
  <!--<a href="#" data-activates="slide-out" class="button-collapse"><img src="../../assets/taxiplelogo.png"/></a>-->
  <!---탑바 -->
    <a class="button-collapse btn-floating waves-effect waves-light red hoverable content" href="#" data-activates="slide-out" style="height: 100%; width: 60px; margin-right: 10px;">
      <i class="material-icons">add</i>
    </a>
    <span id="clock">&nbsp;</span>
    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn tooltipped' data-position="right" data-delay="50" data-tooltip="대기방을 정렬 시켜줍니다" href='#' data-activates='dropdown1' style="margin: 0px 10px;">정렬</a>
    
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="/taxiple/page4_time" style="text-align: center; vertical-align: middle;"><img src="../../assets/alarm_clock-24.png" style="text-align: center; vertical-align: middle;"/>&nbsp;<span style="text-align: center; vertical-align: middle;">시간</span></a></li>
      <hr style="margin: 0px; padding: 0px;">
      <li><a href="/taxiple/page4" style="text-align: center; vertical-align: middle;"><img src="../../assets/high_priority-24.png" style="text-align: center; vertical-align: middle;"/>&nbsp;<span style="text-align: center; vertical-align: middle;">급구</span></a></li>
    </ul>
    <span><%= current_user.email %>님 <%= @mention.sample %></span>
  </div>
</nav>
  <div class="navbar-fixed" >
    <nav style="box-shadow: none;">
      <div class="right nav-wrapper">
        <a class='btn tooltipped yellow accent-2' data-position="right" data-delay="50" data-tooltip="현재 페이지를 새로고침 합니다." href='#' onclick='location.reload(true); return false;' style="padding: 0px 3px; margin: 10px;"><img src="../../assets/synchronize-48.png" style="height: 38px; width: 38px; "/></a>
      </div>
    </nav>
  </div>
<%= yield %>

</body>
</html>
